<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.admin.car.dao.AdminCarDao">

	<select id="selectCarByFullCode" resultType="newCarVo" parameterType="String">
        SELECT NO
              ,CAR_NAME
              ,NC.CAR_TYPE_CODE
              ,NC.CAR_FUEL_CODE
              ,FN_COMM_NM(NC.CAR_FUEL_CODE) AS FUEL_NAME
        FROM NEW_CAR NC, COMMON_CODE CC
        WHERE NC.CAR_NAME_CODE = CONCAT(CC.GROUP_CODE, CC.CODE)
          AND NC.CAR_NAME_CODE = #{carNameCode}
    </select>

    <insert id="insertRentalCar" parameterType="rentalCarVo">
        INSERT INTO RENTAL_CAR (
             CAR_IDENTIFICATION_NUMBER
            ,CAR_NO
        ) VALUES (
             #{carIdentificationNumber}
            ,#{carNo}
        )
    </insert>

    <sql id="commonStockListPagingWhereQuery" >
        DELIVERY_DATE IS NULL
        <if test="keyword != null and keyword != ''.toString()">
            AND COMPANY = #{keyword}
        </if>
    </sql>

    <select id="selectStockList" resultType="rentalCarVo" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT RN
             , CAR_IDENTIFICATION_NUMBER
             , CAR_NO
             , CAR_TYPE_CODE
             , CAR_TYPE
             , CAR_NAME
             , CAR_FUEL_CODE
             , CAR_FUEL
             , COMPANY
             , COMPANY_NAME
        FROM (SELECT ROW_NUMBER() OVER (ORDER by RC.CAR_TYPE_CODE) AS RN
           , RC.*
              FROM RENTAL_CAR_VIEW RC
              WHERE <include refid="commonStockListPagingWhereQuery" />)
        <if test="firstRecordIndex != null and lastRecordIndex != null">
        WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
        </if>
    </select>

    <select id="totalCount" resultType="int" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT COUNT(*) FROM RENTAL_CAR_VIEW
        WHERE <include refid="commonStockListPagingWhereQuery" />
    </select>

    <select id="selectRentalCars" resultType="rentalCarVo" parameterType="newCarVo">
        SELECT CAR_IDENTIFICATION_NUMBER
             , CAR_TYPE_CODE
             , CAR_TYPE
             , CAR_NAME
             , CAR_FUEL_CODE
             , CAR_FUEL
             , COMPANY
             , COMPANY_NAME
        FROM RENTAL_CAR_VIEW
        WHERE DELIVERY_DATE IS NULL
        <if test="company != null and company != ''.toString()">
            AND COMPANY = #{company}
        </if>
        <if test="carTypeCode != null and carTypeCode != ''.toString()">
            AND CAR_TYPE_CODE = #{carTypeCode}
        </if>
    </select>

    <insert id="insertRentalCarBranch" parameterType="String">
        INSERT INTO RENTAL_CAR_BRANCHES_CAR
        ( CAR_IDENTIFICATION_NUMBER
        , RENTAL_CAR_BRANCH_NO
        , RENTAL_ABLE_STATUS
        , REG_ID
        , REG_DATE)
        VALUES ( #{car}
               , #{branch}
               , 'W'
               , 'SYSTEM'
               , SYSDATE)
    </insert>

    <update id="updateRentalCar" parameterType="String">
        UPDATE RENTAL_CAR
        SET DELIVERY_DATE = SYSDATE
        WHERE CAR_IDENTIFICATION_NUMBER = #{car}
    </update>

    <select id="selectBranchesCarList" resultType="com.rental.geniecar.domain.branch.BranchRentalCarVo">
        SELECT RN
        , FN_COMM_NAME(RENTAL_CAR_BRANCH_NO) AS BRANCH
        , CAR_IDENTIFICATION_NUMBER
        , CAR_NAME
        , CAR_TYPE
        , CAR_FUEL
        , COMPANY_NAME AS COMPANY
        , DELIVERY_DATE
        FROM (SELECT ROW_NUMBER() OVER (ORDER BY RC.DELIVERY_DATE DESC) AS RN, RC.*, RCBC.RENTAL_CAR_BRANCH_NO
        FROM RENTAL_CAR_VIEW RC, RENTAL_CAR_BRANCHES_CAR RCBC
        WHERE RCBC.CAR_IDENTIFICATION_NUMBER = RC.CAR_IDENTIFICATION_NUMBER
        <if test="keyword != null and keyword != ''.toString()">
            AND RENTAL_CAR_BRANCH_NO = #{keyword}
        </if>)
        <if test="firstRecordIndex != null and lastRecordIndex != null">
            WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
        </if>

    </select>

    <select id="branchesTotalCount" resultType="int" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT COUNT(*)
        FROM RENTAL_CAR_BRANCHES_CAR
        <if test="keyword != null and keyword != ''.toString()">
        WHERE RENTAL_CAR_BRANCH_NO = #{keyword}
        </if>
    </select>

    <!--차량 목록 조회-->
    <select id="selectCarNameList" resultType="newCarVo" parameterType="newCarVo">
        SELECT NO
              ,CAR_NAME
              ,CAR_TYPE_CODE
              ,CAR_FUEL_CODE
              ,DEFAULT_COST
              ,COMPANY
          FROM NEW_CAR
         WHERE CAR_TYPE_CODE = #{carTypeCode}
           AND CAR_FUEL_CODE = #{carFuelCode}
           AND COMPANY = #{company}
    </select>

    <insert id="insertNewCar" parameterType="newCarVo">
        INSERT INTO NEW_CAR (
             NO
            ,CAR_NAME
            ,CAR_TYPE_CODE
            ,CAR_FUEL_CODE
            ,DEFAULT_COST
            ,COMPANY
        ) VALUES (
             SEQ_NEW_CAR_NO.NEXTVAL
            ,#{carName}
            ,#{carTypeCode}
            ,#{carFuelCode}
            ,#{defaultCost}
            ,#{company}
        )
    </insert>

    <select id="selectNewCarList" resultType="newCarVo" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT
            RN
            , NO
            , CAR_NAME
            , CAR_TYPE_CODE
            , FN_COMM_NAME(CAR_TYPE_CODE) AS TYPE_NAME
            , CAR_FUEL_CODE
            , FN_COMM_NAME(CAR_FUEL_CODE) AS FUEL_NAME
            , DEFAULT_COST
            , COMPANY
            , FN_COMM_NAME(COMPANY) AS COMPANY_NAME
        FROM (SELECT ROW_NUMBER() OVER (ORDER by NC.NO DESC) AS RN
        , NC.*
        FROM NEW_CAR NC)
        <if test="firstRecordIndex != null and lastRecordIndex != null">
            WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
        </if>
    </select>

    <select id="newCarTotalCount" resultType="int" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT COUNT(*)
        FROM NEW_CAR
        <if test="keyword != null and keyword != ''.toString()">
            WHERE COMPANY = #{keyword}
        </if>
    </select>

    <update id="updateNewCar" parameterType="newCarVo">
        UPDATE NEW_CAR
        SET CAR_NAME     = #{carName},
            DEFAULT_COST = #{defaultCost}
        WHERE NO = #{no}
    </update>

</mapper>


