<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.admin.board.dao.AdminBoardDao">
	
	<!-- 글 목록 가져오기 -->
	<select id="selectBoardList" parameterType="com.rental.geniecar.domain.board.CommonCrudVo">
		/* selectBoardList */
		SELECT NO
			 , TITLE
			 , CONTENT
			 , HIT
			 , TYPE_CODE
			 , NOTICE_YN
			 , HASH_TAG
			 , START_DATE
			 , END_DATE
			 , REG_ID
			 , REG_DATE
			 , RN
  		  FROM 
             ( SELECT NO
			        , TITLE
			        , CONTENT
			        , HIT
			        , TYPE_CODE
			        , NOTICE_YN
			        , HASH_TAG
			        , START_DATE
					, END_DATE
					, REG_ID
			        , REG_DATE
			        , ROW_NUMBER() OVER(ORDER BY NO DESC)
			          AS RN
 		         FROM BOARD
 		        WHERE TYPE_CODE = #{typeCode}
		<if test='title != null'>
				  AND TITLE LIKE '%' || #{title} || '%'
		</if> 		         		    
	    	)
				<![CDATA[
         			WHERE RN >= #{startPage} 
           			AND RN < #{startPage} + #{pageSize} 
				]]>	         
	  			ORDER BY RN DESC
	</select>
	
	<!-- 마이페이지 1:1 가져오기 -->
	<select id="selectBoardListById" parameterType="java.util.Map">
	    WITH Hierarchical_Board AS (
	        SELECT NO
	        	 , PARENT_NO
	        	 , TITLE
	             , CONTENT
	             , HIT
	             , TYPE_CODE
	             , NOTICE_YN
	             , HASH_TAG
	             , START_DATE
	             , END_DATE
	             , REG_ID
	             , REG_DATE
	             , ROW_NUMBER() OVER(ORDER BY NO DESC) AS RN
	          FROM BOARD
	         WHERE TYPE_CODE = #{typeCode}
	           AND REG_ID IN (#{Id}, 'ADMIN')
	        <if test='title != null'>
	            AND TITLE LIKE '%' || #{title} || '%'
	        </if> 
			)
			   SELECT LEVEL
			        , NO
			        , PARENT_NO
			        , LPAD(' ', 5*(LEVEL-1)) || CASE WHEN LEVEL > 1 THEN '[답글]: ' ELSE '' END || TITLE AS TITLE
			        , CONTENT
			        , HIT
			        , TYPE_CODE
			        , NOTICE_YN
			        , HASH_TAG
			        , START_DATE
			        , END_DATE
			        , REG_ID
			        , REG_DATE
			        , RN
			     FROM Hierarchical_Board
			    START WITH PARENT_NO = 0
			  CONNECT BY PRIOR NO = PARENT_NO
			      AND REG_ID IN (#{Id}, 'ADMIN') AND PARENT_NO != 0
			    ORDER SIBLINGS BY RN DESC
	</select>

	<!-- 글 목록 가져오기 -->
	<select id="selectQnaList" parameterType="com.rental.geniecar.domain.board.CommonCrudVo">
		WITH Hierarchical_Board AS (
    		SELECT NO
		         , PARENT_NO
		         , TITLE
		         , CONTENT
		         , HIT
		         , TYPE_CODE
		         , NOTICE_YN
		         , HASH_TAG
		         , START_DATE
		         , END_DATE
		         , REG_ID
		         , REG_DATE
		         , ROW_NUMBER() OVER(ORDER BY NO DESC) AS RN
		    FROM BOARD
		    WHERE TYPE_CODE = #{typeCode}
		    <if test='title != null'>
           		AND TITLE LIKE '%' || #{title} || '%'
        	</if> 
			)
				SELECT LEVEL
				     , NO
				     , PARENT_NO
				     , LPAD(' ', 5*(LEVEL-1)) || CASE WHEN LEVEL > 1 THEN '[답글]: ' ELSE '' END || TITLE AS TITLE
				     , CONTENT
				     , HIT
				     , TYPE_CODE
				     , NOTICE_YN
				     , HASH_TAG
				     , START_DATE
				     , END_DATE
				     , REG_ID
				     , REG_DATE
				     , RN
				FROM Hierarchical_Board
			<![CDATA[
   			   WHERE RN >= #{startPage} 
    			 AND RN < #{startPage} + #{pageSize} 
    		]]>
				START WITH PARENT_NO = 0
				CONNECT BY PRIOR NO = PARENT_NO
				ORDER SIBLINGS BY RN DESC
	</select>
	
	<select id="selectBoardListSize" parameterType="boardVo">
		/* selectBoardListSize */
		SELECT COUNT(*)
          FROM BOARD
         WHERE TYPE_CODE = #{typeCode}
		<if test='title != null'>
           AND TITLE LIKE '%' || #{title} || '%'
		</if> 		         		    
	</select>
	
	<!-- 새글 등록 -->
	<insert id="insertBoard" parameterType="boardVo">
		INSERT INTO BOARD
		(
			  NO
			, PARENT_NO
			, TITLE
			, CONTENT
			, HIT
			, TYPE_CODE
			, FILE_NO
			, START_DATE
			, END_DATE
			, REG_ID
			, REG_DATE
		)
		VALUES
		(
			  SEQ_BOARD_NO.NEXTVAL
			, #{parentNo}
			, #{title}
			, #{content}
			, #{hit}
			, #{typeCode}
			, #{fileNo}
			, #{startDate}
			, #{endDate}
			, #{regId}	
			, SYSDATE
		)
	</insert>
	
	<!-- 글 상세 보기 -->
	<select id="selectNotice" parameterType="int">
		SELECT *
		FROM BOARD
		WHERE NO = #{no}		
	</select>
	
	<!-- 이미지 상세 보기 -->
	<select id="selectImageFiles" parameterType="int" resultType="fileVo">
		SELECT *
		FROM IMAGE_FILE
		WHERE FILE_NO = #{no}
	</select>
	
	
	<!-- 글 상세 폼 보기 -->
	<select id="updateNoticeForm" parameterType="int">
		SELECT *
		FROM BOARD
		WHERE NO = #{no}		
	</select>
	
	<!-- 게시판 내용 수정 적용 -->
	<update id="updateNotice" parameterType="boardVo">
		UPDATE BOARD
		SET 
			  NO         = #{no}
			, TITLE      = #{title}
			, CONTENT    = #{content}
			, HIT        = #{hit}
			, TYPE_CODE  = #{typeCode}
			, FILE_NO    = #{fileNo}
			, START_DATE = #{startDate}
			, END_DATE   = #{endDate}
			<!--, MOD_ID     = #{regId}-->
			, MOD_DATE   = SYSDATE
		WHERE NO = #{no}		
	</update>
	
	<!-- 이미지 수정 -->
	<update id="updateImageFile">
    <![CDATA[
        UPDATE IMAGE_FILE
        SET
              SAVE_PATH = #{savePath}
            , SAVE_NAME = #{saveName}
            , FILE_NAME = #{fileName}
            , EXTENSION = #{extension}
            , FILE_SIZE = #{fileSize}
            , REG_ID    = #{regId}
	    WHERE FILE_NO   = #{fileNo} 
	      AND SEQ       = #{seq}
    	]]>
	</update>

	<!-- 댓글 포함 지우기 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM BOARD
		 WHERE NO IN (
        SELECT NO
          FROM (
                SELECT NO
                     , LEVEL AS LVL
            	  FROM BOARD
           		 START WITH NO     = #{no}
               CONNECT BY PRIOR NO = PARENT_NO
        	   )
    		)
	</delete>
	
	<delete id="deleteImage" parameterType="int">
		DELETE IMAGE_FILE
		WHERE FILE_NO = #{fileNo}
	</delete>
	
	<!-- 새 이미지 등록 -->
	<insert id="insertBoardImage" parameterType="fileVo">
		INSERT INTO IMAGE_FILE
    	(
          FILE_NO
        , SEQ
        , SAVE_PATH
        , SAVE_NAME
        , FILE_NAME
        , EXTENSION
        , FILE_SIZE
        , REG_ID
        , REG_DATE
    	)
    	VALUES
    	(
          #{fileNo}
        , #{seq}
        , #{savePath}
        , #{saveName}
        , #{fileName}
        , #{extension}
        , #{fileSize}
        , #{regId}
        , SYSDATE
    	)
	</insert>

	<select id="selectNewFileNo" resultType="int">
		select SEQ_IMAGE_FILE_NO.NEXTVAL from dual
	</select>
	
	<select id="findByFileNo" parameterType="int" resultType="com.rental.geniecar.domain.common.FileVo">
		SELECT * FROM IMAGE_FILE WHERE FILE_NO = #{fileNo}
	</select>
	
	<select id="selectImageFilesByTypeCode" parameterType="String" resultType="fileVo">
		SELECT IMAGE_FILE.* 
    	FROM IMAGE_FILE
    	JOIN BOARD ON IMAGE_FILE.FILE_NO = BOARD.FILE_NO 
    	WHERE BOARD.NO = #{no}
	</select>
	
	<select id="selectImageFilesByNo" parameterType="int" resultType="fileVo">
		SELECT IMAGE_FILE.* 
    	FROM IMAGE_FILE
    	JOIN BOARD ON IMAGE_FILE.FILE_NO = BOARD.FILE_NO 
    	WHERE BOARD.NO = #{no}
	</select>
	
	<update id="increaseHit">
	    UPDATE BOARD
	    SET HIT = HIT + 1
	    WHERE NO = #{no}
	</update>

</mapper>