<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.business.rental.dao.BusinessRentalDao">

	<select id="selectReservationList" resultType="rentalCarReservationVo" parameterType="com.rental.geniecar.domain.common.Pagination">
		SELECT  RESERVATION_NO
		, RENTAL_PLACE
		, FN_COMM_NAME(RENTAL_PLACE) AS RENTAL_PLACE_NAME
		, RETURN_PLACE
		, FN_COMM_NAME(RETURN_PLACE) AS RETURN_PLACE_NAME
		, RENTAL_DATE
		, RETURN_DATE
		, CAR_IDENTIFICATION_NUMBER
		, RENTAL_CAR_BRANCH_NO
		, FN_COMM_NAME(RENTAL_CAR_BRANCH_NO) AS RENTAL_CAR_BRANCH_NAME
		, RESERVATION_MEMBER_ID
		, NAME AS RESERVATION_MEMBER_NAME
		, REGULAR_PRICE
		, SALE_RATE
		, FINAL_RESERVATION_PRICE
		, REG_ID
		, REG_DATE
		, MOD_ID
		, MOD_DATE
		FROM (SELECT ROW_NUMBER() OVER (ORDER by RCR.RENTAL_DATE) AS RN
		, RCR.*, M.*
		FROM RENTAL_CAR_RESERVATION RCR, MEMBER M
		WHERE RCR.RESERVATION_MEMBER_ID = M.ID
		  AND RENTAL_DATE &gt; SYSDATE
		  AND CANCEL_YN = 'N'
		  AND RENTAL_CAR_BRANCH_NO = #{keyword}  )
		<if test="firstRecordIndex != null and lastRecordIndex != null">
			WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
	</select>
	
	<select id="totalCount" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="int">
        SELECT COUNT(*)
        FROM RENTAL_CAR_RESERVATION
        WHERE RENTAL_DATE &gt; SYSDATE
		  AND CANCEL_YN = 'N'
          AND RENTAL_CAR_BRANCH_NO = #{keyword}
    </select>

	<select id="selectCompleteList" resultType="rentalCarReservationVo" parameterType="com.rental.geniecar.domain.common.Pagination">
		SELECT RESERVATION_NO
		, RENTAL_PLACE
		, FN_COMM_NAME(RENTAL_PLACE) AS RENTAL_PLACE_NAME
		, RETURN_PLACE
		, FN_COMM_NAME(RETURN_PLACE) AS RETURN_PLACE_NAME
		, RENTAL_DATE
		, RETURN_DATE
		, CAR_IDENTIFICATION_NUMBER
		, RENTAL_CAR_BRANCH_NO
		, FN_COMM_NAME(RENTAL_CAR_BRANCH_NO) AS RENTAL_CAR_BRANCH_NAME
		, RESERVATION_MEMBER_ID
		, NAME AS RESERVATION_MEMBER_NAME
		, REGULAR_PRICE
		, SALE_RATE
		, FINAL_RESERVATION_PRICE
		, REG_ID
		, REG_DATE
		, MOD_ID
		, MOD_DATE
		FROM (SELECT ROW_NUMBER() OVER (ORDER by RCR.RENTAL_DATE) AS RN
		, RCR.*, M.*
		FROM RENTAL_CAR_RESERVATION RCR, MEMBER M
		WHERE RCR.RESERVATION_MEMBER_ID = M.ID
		  AND RETURN_DATE &lt; SYSDATE
		AND CANCEL_YN = 'N'
		  AND RENTAL_CAR_BRANCH_NO = #{keyword} )
		<if test="firstRecordIndex != null and lastRecordIndex != null">
			WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
	</select>

	<select id="completeTotalCount" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="int">
		SELECT COUNT(*)
		FROM RENTAL_CAR_RESERVATION
		WHERE RETURN_DATE &lt; SYSDATE
		  AND CANCEL_YN = 'N'
		  AND RENTAL_CAR_BRANCH_NO = #{keyword}
	</select>

	<select id="selectProgressList" resultType="rentalCarReservationVo" parameterType="com.rental.geniecar.domain.common.Pagination">
		SELECT  RESERVATION_NO
		, RENTAL_PLACE
		, FN_COMM_NAME(RENTAL_PLACE) AS RENTAL_PLACE_NAME
		, RETURN_PLACE
		, FN_COMM_NAME(RETURN_PLACE) AS RETURN_PLACE_NAME
		, RENTAL_DATE
		, RETURN_DATE
		, CAR_IDENTIFICATION_NUMBER
		, RENTAL_CAR_BRANCH_NO
		, FN_COMM_NAME(RENTAL_CAR_BRANCH_NO) AS RENTAL_CAR_BRANCH_NAME
		, RESERVATION_MEMBER_ID
		, NAME AS RESERVATION_MEMBER_NAME
		, REGULAR_PRICE
		, SALE_RATE
		, FINAL_RESERVATION_PRICE
		, REG_ID
		, REG_DATE
		, MOD_ID
		, MOD_DATE
		FROM (SELECT ROW_NUMBER() OVER (ORDER by RCR.RENTAL_DATE) AS RN
		, RCR.*, M.*
		FROM RENTAL_CAR_RESERVATION RCR, MEMBER M
		WHERE RCR.RESERVATION_MEMBER_ID = M.ID
		  AND SYSDATE BETWEEN RENTAL_DATE AND RETURN_DATE
		  AND CANCEL_YN = 'N'
		  AND RENTAL_CAR_BRANCH_NO = #{keyword}  )
		<if test="firstRecordIndex != null and lastRecordIndex != null">
			WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
	</select>

	<select id="progressTotalCount" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="int">
        SELECT COUNT(*)
        FROM RENTAL_CAR_RESERVATION
        WHERE SYSDATE BETWEEN RENTAL_DATE AND RETURN_DATE
		  AND CANCEL_YN = 'N'
          AND RENTAL_CAR_BRANCH_NO = #{keyword}
    </select>

	<select id="selectDetail" parameterType="String" resultType="com.rental.geniecar.domain.reservation.ReservationDetailVo">
        SELECT RV.*
            , FN_PAYMENT_STATUS_NAME(PM.STATUS) AS STATUS
			, PM.CARD_NAME
			, PM.CARD_NUMBER
			, PM.PAID_AMOUNT
            , FN_PAYMENT_PG_PROVIDER_NAME(PM.PG_PROVIDER) AS PG_PROVIDER
            , PM.CARD_QUOTA
        , TO_CHAR(PM.PAID_AT / (60 * 60 * 24) + TO_DATE('19700101090000', 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PAID_AT
        FROM GENIECAR.RESERVATION_VIEW RV
                 LEFT JOIN PAYMENT PM ON RV.RESERVATION_NO = PM.MERCHANT_UID
        WHERE RESERVATION_NO = #{reservationNo}
          AND RENTAL_CAR_BRANCH_NO = #{branchCode}
    </select>

	<select id="selectCancelList" resultType="rentalCarReservationVo" parameterType="com.rental.geniecar.domain.common.Pagination">
		SELECT  RESERVATION_NO
		, RENTAL_PLACE
		, FN_COMM_NAME(RENTAL_PLACE) AS RENTAL_PLACE_NAME
		, RETURN_PLACE
		, FN_COMM_NAME(RETURN_PLACE) AS RETURN_PLACE_NAME
		, RENTAL_DATE
		, RETURN_DATE
		, CAR_IDENTIFICATION_NUMBER
		, RENTAL_CAR_BRANCH_NO
		, FN_COMM_NAME(RENTAL_CAR_BRANCH_NO) AS RENTAL_CAR_BRANCH_NAME
		, RESERVATION_MEMBER_ID
		, NAME AS RESERVATION_MEMBER_NAME
		, REGULAR_PRICE
		, SALE_RATE
		, FINAL_RESERVATION_PRICE
		, REG_ID
		, REG_DATE
		, MOD_ID
		, MOD_DATE
		FROM (SELECT ROW_NUMBER() OVER (ORDER by RCR.RENTAL_DATE) AS RN
		, RCR.*, M.*
		FROM RENTAL_CAR_RESERVATION RCR, MEMBER M
		WHERE RCR.RESERVATION_MEMBER_ID = M.ID
		AND CANCEL_YN = 'Y'
		AND RENTAL_CAR_BRANCH_NO = #{keyword}  )
		<if test="firstRecordIndex != null and lastRecordIndex != null">
			WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
	</select>

	<select id="cancelTotalCount" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="int">
		SELECT COUNT(*)
		FROM RENTAL_CAR_RESERVATION
		WHERE  CANCEL_YN = 'Y'
		  AND RENTAL_CAR_BRANCH_NO = #{keyword}
	</select>

	<update id="updateReservation" parameterType="String">
		UPDATE RENTAL_CAR_RESERVATION
		SET CANCEL_YN = 'Y',
		    MOD_ID = #{id},
		    MOD_DATE = SYSDATE
		WHERE RESERVATION_NO = #{reservationNo}
	</update>

</mapper>