<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.admin.car.dao.AdminCarDao">

	<select id="selectCarByFullCode" resultType="newCarVo" parameterType="String">
        SELECT NO
              ,CC.CODE_NAME AS CAR_NAME
              ,NC.CAR_TYPE_CODE
              ,NC.CAR_FUEL_CODE
              ,FN_COMM_NM(NC.CAR_FUEL_CODE) AS FUEL_NAME
        FROM NEW_CAR NC, COMMON_CODE CC
        WHERE NC.CAR_NAME_CODE = CONCAT(CC.GROUP_CODE, CC.CODE)
          AND NC.CAR_NAME_CODE = #{carNameCode}
    </select>

    <insert id="insertRentalCar" parameterType="rentalCarVo">
        INSERT INTO RENTAL_CAR (
             CAR_IDENTIFICATION_NUMBER
           , CAR_TYPE_CODE
           , CAR_NAME_CODE
           , CAR_FUEL_CODE
           , COMPANY
        ) VALUES (
            #{carIdentificationNumber}
           , #{carTypeCode}
           , #{carNameCode}
           , #{carFuelCode}
           , #{company}
        )
    </insert>

    <select id="selectStockList" resultType="rentalCarVo" parameterType="com.rental.geniecar.domain.common.Pagination">
        SELECT RN
             , CAR_IDENTIFICATION_NUMBER
             , CAR_TYPE_CODE
             , FN_COMM_NAME(CAR_TYPE_CODE) AS CAR_TYPE
             , CAR_NAME_CODE
             , FN_COMM_NAME(CAR_NAME_CODE) AS CAR_NAME
             , CAR_FUEL_CODE
             , FN_COMM_NAME(CAR_FUEL_CODE) AS CAR_FUEL
             , COMPANY
             , FN_COMM_NAME(COMPANY)       AS COMPANY_NAME
        FROM (SELECT ROW_NUMBER() OVER (ORDER by CAR_TYPE_CODE) AS
    RN
           , RENTAL_CAR.*
              FROM RENTAL_CAR WHERE DELIVERY_DATE IS NULL)
        <if test="firstRecordIndex != null and lastRecordIndex != null">
        WHERE RN BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
        </if>
    </select>

    <select id="totalCount" resultType="int">
        SELECT COUNT(*) FROM RENTAL_CAR
    </select>

    <select id="selectRentalCars" resultType="rentalCarVo" parameterType="String">
        SELECT CAR_IDENTIFICATION_NUMBER
             , CAR_TYPE_CODE
             , FN_COMM_NAME(CAR_TYPE_CODE) AS CAR_TYPE
             , CAR_NAME_CODE
             , FN_COMM_NAME(CAR_NAME_CODE) AS CAR_NAME
             , CAR_FUEL_CODE
             , FN_COMM_NAME(CAR_FUEL_CODE) AS CAR_FUEL
             , COMPANY
             , FN_COMM_NAME(COMPANY)       AS COMPANY_NAME
        FROM RENTAL_CAR
        WHERE CAR_NAME_CODE = #{code}
        AND DELIVERY_DATE IS NULL
    </select>

    <insert id="insertRentalCarBranch" parameterType="String">
        INSERT INTO RENTAL_CAR_BRANCHES_CAR
        ( CAR_IDENTIFICATION_NUMBER
        , RENTAL_CAR_BRANCH_NO
        , REG_ID
        , REG_DATE)
        VALUES ( #{car}
               , #{branch}
               , 'SYSTEM'
               , SYSDATE)
    </insert>

    <update id="updateRentalCar" parameterType="String">
        UPDATE RENTAL_CAR
        SET DELIVERY_DATE = SYSDATE
        WHERE CAR_IDENTIFICATION_NUMBER = #{car}
    </update>

</mapper>





