<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.common.dao.CommonDao">

	<select id="selectCommonCodes" resultType="commonCodeVo" parameterType="java.lang.String">
		SELECT CONCAT(GROUP_CODE, CODE) AS FULLCODE
			 ,CODE
			 ,CODE_NAME
			 ,GROUP_CODE
			 ,GROUP_CODE_NAME
			 ,DESCRIPTION
			 ,CODE_SORT
			 ,USE_YN
		FROM COMMON_CODE WHERE GROUP_CODE = #{groupCode}
	</select>


</mapper>