<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.consult.dao.ConsultDao">

	<insert id="insertConsult" parameterType="consultVo">
        INSERT INTO CONSULT ( NO
                            , NAME
                            , TEL
                            , EMAIL
                            , PURPOSE
                            , WISH_REGION
                            , REG_DATE
                            , STATUS_YN)
        VALUES ( SEQ_CONSULT_NO.NEXTVAL
               , #{name}
               , #{tel}
               , #{email}
               , #{purpose}
               , #{wishRegion}
               , SYSDATE
               , 'N')
    </insert>

    <select id="selectConsultList" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="consultVo">
        SELECT NO
                , NAME
                , TEL
                , EMAIL
                , PURPOSE
                , WISH_REGION
                , FN_COMM_NAME(WISH_REGION) AS WISH_REGION_NAME
                , REG_DATE
                , STATUS_YN
        FROM CONSULT
        WHERE WISH_REGION = #{keyword}
    </select>

    <select id="selectAdminConsultList" parameterType="com.rental.geniecar.domain.common.Pagination" resultType="consultVo">
        SELECT NO
                , NAME
                , TEL
                , EMAIL
                , PURPOSE
                , WISH_REGION
                , FN_COMM_NAME(WISH_REGION) AS WISH_REGION_NAME
                , REG_DATE
                , STATUS_YN
        FROM CONSULT
    </select>

</mapper>