<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.member.dao.MemberDao">

	<insert id="insertMember" parameterType="memberVo">
		INSERT INTO MEMBER(ID, PW, NAME, GENDER, BIRTHDAY, HP, ADDRESS, ADDRESS_DETAIL, ZIP_CODE, JOIN_DATE, LAST_LOGIN_DATE, WITHDRAWAL_YN, TYPE, BRANCH_CODE) 
		VALUES (#{id}, #{pw}, #{name}, #{gender}, #{birthday}, #{hp}, #{address}, #{addressDetail}, #{zipCode}, SYSDATE, SYSDATE, 'N','U', #{branchCode})	 
	</insert>
	
	<select id="overlapped" parameterType="String" resultType="String">
		SELECT DECODE(COUNT(*), 1, 'true', 0, 'false')
		FROM MEMBER
		WHERE ID = #{id}
    </select>
    
    <select id="selectOne" parameterType="String" resultType="memberVo">
		SELECT * FROM MEMBER WHERE ID = #{id}
    </select>
    
    <update id="updateWithdrawalYn" parameterType="String">
		UPDATE MEMBER SET WITHDRAWAL_YN ='Y' WHERE ID = #{id}
	</update>
	
	<update id="updateMember" parameterType="memberVo">
		UPDATE MEMBER SET HP = #{hp}, ZIP_CODE = #{zipCode}, ADDRESS = #{address}, ADDRESS_DETAIL = #{addressDetail} WHERE ID= #{id}
	</update>
	
	<select id="selectAllUser" resultType="memberVo">
		SELECT * FROM MEMBER WHERE TYPE ='U' ORDER BY NAME
    </select>
    
    <select id="selectAllBusiness" resultType="memberVo">
		SELECT * FROM MEMBER WHERE TYPE ='B' ORDER BY NAME
    </select>
</mapper>