<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.point.dao.PointDao">

	<select id="selectAll">
		SELECT * FROM POINT WHERE MEMBER_ID = #{memberId} ORDER BY NO DESC
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE POINT WHERE MEMBER_ID = #{memberId}
	</delete>

	<select id="selectPoint" resultType="pointVo">
		SELECT CURRENT_POINT, TOTAL_USE_POINT FROM (SELECT ROWNUM ,P.* FROM POINT P WHERE MEMBER_ID = #{memberId} ORDER BY NO DESC) WHERE ROWNUM =1
	</select>

	<insert id="savePoint" parameterType="pointVo">
		INSERT INTO POINT (
		    NO
		   ,POINT
		   ,INCREASE
		   ,HISTORY
		   ,REG_DATE
		   ,CURRENT_POINT
		   ,TOTAL_USE_POINT
		   ,MEMBER_ID
		) VALUES (
			SEQ_POINT_NO.NEXTVAL
		   ,#{point}
		   ,#{increase}
		   ,#{history}
		   ,SYSDATE
		   ,(SELECT NVL((SELECT * FROM (SELECT CURRENT_POINT FROM POINT WHERE MEMBER_ID = #{memberId} ORDER BY NO DESC) WHERE ROWNUM = 1), 0) FROM DUAL)
		   <choose>
			   <when test="increase == '+'.toString()">
				   + #{point}
			   </when>
			   <otherwise>
				   - #{point}
			   </otherwise>
		   </choose>
		   , (SELECT NVL((SELECT * FROM (SELECT TOTAL_USE_POINT FROM POINT WHERE MEMBER_ID = #{memberId} ORDER BY NO DESC) WHERE ROWNUM = 1), 0) FROM DUAL)
		   <if test="increase == '-'.toString()">
			   + #{point}
		   </if>
		   ,#{memberId}
		)
	</insert>
</mapper>