<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.reservation.dao.ReservationDao">

	<select id="selectBranchesByLocationCode" resultType="rentalCarBranchVo" parameterType="java.lang.String">
		SELECT NO
		   	  ,CD.CODE_NAME AS BRANCH_NAME
		  FROM RENTAL_CAR_BRANCH RCB, COMMON_CODE CD
		 WHERE RCB.BRANCH_CODE = CONCAT(CD.GROUP_CODE, CD.CODE)
		   AND RCB.REGION_CODE = #{locationCode}
	</select>


</mapper>