<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.geniecar.reservation.dao.ReservationDao">

	<select id="selectReservationNo" resultType="java.lang.String">
		SELECT FN_RES_NO() AS RESERVATION_NO FROM DUAL
	</select>

	<select id="selectBranchesByLocationCode" resultType="rentalCarBranchVo" parameterType="java.lang.String">
		SELECT BRANCH_CODE
		   	  ,FN_COMM_NAME(BRANCH_CODE) AS BRANCH_NAME
		  FROM RENTAL_CAR_BRANCH
		 WHERE REGION_CODE = #{locationCode}
	</select>

	<select id="selectRentalCarReservationSearchCar" resultType="com.rental.geniecar.domain.reservation.ReservationRentalCarVo" parameterType="com.rental.geniecar.domain.reservation.SearchReservationRentalCarVo">
		SELECT T.*, T.TOTAL_COST * ((100 - T.PER_SALE) / 100) AS SALE_COST
		  FROM (
			SELECT NC.NO AS CAR_NO
				  ,NC.CAR_NAME
				  ,NC.CAR_TYPE_CODE
				  ,FN_COMM_NAME(NC.CAR_TYPE_CODE) AS CAR_TYPE_NAME
				  ,NC.CAR_FUEL_CODE
				  ,FN_COMM_NAME(NC.CAR_FUEL_CODE) AS CAR_FUEL_NAME
				  ,NC.DEFAULT_COST
				  ,NC.DEFAULT_COST * #{differTimes} AS TOTAL_COST
				  ,NC.COMPANY
				  ,FN_COMM_NAME(NC.COMPANY) AS COMPANY_NAME
		          ,#{per} AS PER_SALE
				  ,NC.SEATER
				  ,NC.FILE_NO
				  ,ARTC.RENTAL_AVAILABLE
			  FROM NEW_CAR NC
			 INNER JOIN (SELECT CASE WHEN COUNT(CASE WHEN AVAILABILITY = 'N' THEN 1 END) >= 1 THEN 'N'
								ELSE 'Y' END AS RENTAL_AVAILABLE
							   ,CAR_NO
						   FROM (SELECT CASE WHEN RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI') AND
												  RETURN_DATE <![CDATA[>=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI')
											   OR RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI') AND
												  RETURN_DATE <![CDATA[>=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI')
											   OR RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI') AND
												  RETURN_DATE <![CDATA[>=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI')
											 THEN 'N' ELSE 'Y' END AS AVAILABILITY
										,NC.NO AS CAR_NO
								   FROM RENTAL_CAR_BRANCHES_CAR RCBC
						 LEFT JOIN RENTAL_CAR_RESERVATION RCR ON RCR.CAR_IDENTIFICATION_NUMBER = RCBC.CAR_IDENTIFICATION_NUMBER
							   AND RCR.CANCEL_YN = 'N'
						INNER JOIN RENTAL_CAR RC ON RCBC.CAR_IDENTIFICATION_NUMBER = RC.CAR_IDENTIFICATION_NUMBER
						INNER JOIN NEW_CAR NC ON RC.CAR_NO = NC.NO
						WHERE RCBC.RENTAL_CAR_BRANCH_NO = #{rentalPlaceCd}

						  <if test="typeCodes != null and !typeCodes.isEmpty()">
							AND NC.CAR_TYPE_CODE IN
							<foreach collection="typeCodes" item="typeCode"	separator="," open="(" close=")"  >
								#{typeCode}
							</foreach>
						  </if>
						  <if test="seaters != null and !seaters.isEmpty()">
							AND NC.SEATER IN
							  <foreach collection="seaters" item="seater" separator="," open="(" close=")"  >
								  #{seater}
							  </foreach>
						  </if>
						  <if test="fuelCodes != null and !fuelCodes.isEmpty()">
							AND NC.CAR_FUEL_CODE IN
							  <foreach collection="fuelCodes" item="fuelCode" separator="," open="(" close=")"  >
								  #{fuelCode}
							  </foreach>
						  </if>
						)
			GROUP BY CAR_NO) ARTC ON NC.NO = ARTC.CAR_NO) T
		ORDER BY T.RENTAL_AVAILABLE DESC, T.DEFAULT_COST
	</select>

	<select id="selectOneAvailableRentalCarIdentificationNumber" resultType="java.lang.String" parameterType="com.rental.geniecar.domain.reservation.ReservationSaveVo">
		SELECT CAR_IDENTIFICATION_NUMBER FROM (
			  SELECT CASE WHEN RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI') AND
							   RETURN_DATE <![CDATA[>=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI')
						    OR RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI') AND
						  	   RETURN_DATE <![CDATA[>=]]> TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI')
						    OR RENTAL_DATE <![CDATA[<=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI') AND
						  	   RETURN_DATE <![CDATA[>=]]> TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI')
							   THEN 'N' ELSE 'Y' END AS AVAILABILITY
						 ,RCBC.CAR_IDENTIFICATION_NUMBER
			    FROM RENTAL_CAR_BRANCHES_CAR RCBC
				LEFT JOIN RENTAL_CAR_RESERVATION RCR ON RCR.CAR_IDENTIFICATION_NUMBER = RCBC.CAR_IDENTIFICATION_NUMBER
					  AND RCR.CANCEL_YN = 'N'
				INNER JOIN RENTAL_CAR RC ON RCBC.CAR_IDENTIFICATION_NUMBER = RC.CAR_IDENTIFICATION_NUMBER
				INNER JOIN NEW_CAR NC ON RC.CAR_NO = NC.NO
				WHERE RCBC.RENTAL_CAR_BRANCH_NO = #{rentalPlace}
				  AND NC.NO = #{carNo}
				ORDER BY RETURN_DATE)
		 WHERE AVAILABILITY = 'Y' AND ROWNUM = 1
	</select>

	<select id="selectDetailCar" resultType="newCarVo" parameterType="int">
		SELECT NO
				, CAR_NAME
				, CAR_TYPE_CODE
				, FN_COMM_NAME(CAR_TYPE_CODE) AS TYPE_NAME
				, CAR_FUEL_CODE
				, FN_COMM_NAME(CAR_FUEL_CODE) AS FUEL_NAME
				, DEFAULT_COST
				, COMPANY
				, FN_COMM_NAME(COMPANY) AS COMPANY_NAME
				, FILE_NO
		FROM NEW_CAR
		WHERE NO = #{no}
	</select>

	<insert id="saveRentalCarReservation" parameterType="com.rental.geniecar.domain.reservation.ReservationSaveVo">
		INSERT INTO RENTAL_CAR_RESERVATION (
			 RESERVATION_NO
			,RENTAL_PLACE
			,RETURN_PLACE
			,RENTAL_DATE
			,RETURN_DATE
			,CAR_IDENTIFICATION_NUMBER
			,RENTAL_CAR_BRANCH_NO
			,RESERVATION_MEMBER_ID
			,REGULAR_PRICE
			,ADD_PRICE
			,USE_POINT
			,SALE_RATE
			,FINAL_RESERVATION_PRICE
			,CANCEL_YN
			,REG_ID
			,REG_DATE
		) VALUES (
			 #{reservationNo}
			,#{rentalPlace}
			,#{returnPlace}
			,TO_DATE(#{rentalDate}, 'YYYY-MM-DD HH24:MI')
			,TO_DATE(#{returnDate}, 'YYYY-MM-DD HH24:MI')
			,#{carIdentificationNumber}
			,#{rentalCarBranchNo}
			,#{reservationMemberId}
			,#{regularPrice}
			,#{addPrice}
			,#{usePoint}
			,#{saleRate}
			,#{finalReservationPrice}
			,'N'
			,#{regId}
			,SYSDATE
		)
	</insert>

	<insert id="savePayment" parameterType="com.rental.geniecar.domain.reservation.ReservationSaveVo">
		INSERT INTO PAYMENT (
			  PAY_NO
			 ,APPLY_NUM
			 ,BUYER_NAME
			 ,BUYER_TEL
			 ,CARD_NAME
			 ,CARD_NUMBER
			 ,CARD_QUOTA
			 ,CURRENCY
			 ,CUSTOM_DATA
			 ,IMP_UID
			 ,MERCHANT_UID
			 ,NAME
			 ,PAID_AMOUNT
			 ,PAID_AT
			 ,PAY_METHOD
			 ,PG_PROVIDER
			 ,PG_TID
			 ,PG_TYPE
			 ,STATUS
			 ,SUCCESS
			 ,REG_ID
			 ,REG_DATE
		) values (
			  SEQ_PAY_NO.NEXTVAL
			 ,#{applyNum}
			 ,#{buyerName}
			 ,#{buyerTel}
			 ,#{cardName}
			 ,#{cardNumber}
			 ,#{cardQuota}
			 ,#{currency}
			 ,#{customData}
			 ,#{impUid}
			 ,#{merchantUid}
			 ,#{name}
			 ,#{paidAmount}
			 ,#{paidAt}
			 ,#{payMethod}
			 ,#{pgProvider}
			 ,#{pgTid}
			 ,#{pgType}
			 ,#{status}
			 ,#{success}
			 ,#{regId}
			 ,SYSDATE
		)
	</insert>

	<select id="selectReservationOne" parameterType="String" resultType="rentalCarReservationVo">
		SELECT RESERVATION_NO
		      ,RENTAL_PLACE
			  ,RETURN_PLACE
              ,RENTAL_DATE
              ,RETURN_DATE
              ,CAR_IDENTIFICATION_NUMBER
              ,RENTAL_CAR_BRANCH_NO
              ,RESERVATION_MEMBER_ID
              ,REGULAR_PRICE
              ,SALE_RATE
              ,FINAL_RESERVATION_PRICE
              ,CANCEL_YN
              ,REG_ID
              ,TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
              ,MOD_ID
              ,TO_CHAR(MOD_DATE, 'YYYY-MM-DD') AS MOD_DATE
              ,ADD_PRICE
		FROM RENTAL_CAR_RESERVATION
	   WHERE RESERVATION_NO = #{reservationNo}
	</select>

	<update id="updateReservationCancel" parameterType="java.lang.String">
		UPDATE RENTAL_CAR_RESERVATION SET CANCEL_YN = 'Y'
         WHERE RESERVATION_NO = #{reservationNo}
	</update>

</mapper>