<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <typeAlias type="com.rental.geniecar.common.domain.MemberVo" alias="memberVo" />
        <typeAlias type="com.rental.geniecar.common.domain.CommonCodeVo" alias="commonCodeVo" />
        <typeAlias type="com.rental.geniecar.common.domain.RentalCarVo" alias="rentalCarVo" />
        <typeAlias type="com.rental.geniecar.common.domain.RentalCarBranchVo" alias="rentalCarBranchVo" />
        <typeAlias type="com.rental.geniecar.common.domain.RentalCarBranchsCarVo" alias="rentalCarBranchsCarVo" />
        <typeAlias type="com.rental.geniecar.common.domain.CouponVo" alias="couponVo" />

    </typeAliases>
</configuration>