<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <typeAlias type="com.rental.geniecar.domain.board.BoardVo" alias="boardVo" />
        <typeAlias type="com.rental.geniecar.domain.common.CommonCodeVo" alias="commonCodeVo" />
        <typeAlias type="com.rental.geniecar.domain.board.ConsultVo" alias="consultVo" />
        <typeAlias type="com.rental.geniecar.domain.common.CouponVo" alias="couponVo" />
        <typeAlias type="com.rental.geniecar.domain.common.FileVo" alias="fileVo" />
        <typeAlias type="com.rental.geniecar.domain.member.MemberCouponsVo" alias="memberCouponsVo" />
        <typeAlias type="com.rental.geniecar.domain.member.MemberVo" alias="memberVo" />
        <typeAlias type="com.rental.geniecar.domain.member.PointVo" alias="pointVo" />
        <typeAlias type="com.rental.geniecar.domain.branch.RentalCarBranchesCarVo" alias="rentalCarBranchesCarVo" />
        <typeAlias type="com.rental.geniecar.domain.branch.RentalCarBranchVo" alias="rentalCarBranchVo" />
        <typeAlias type="com.rental.geniecar.domain.branch.RentalCarReservationVo" alias="rentalCarReservationVo" />
        <typeAlias type="com.rental.geniecar.domain.car.RentalCarVo" alias="rentalCarVo" />
        <typeAlias type="com.rental.geniecar.domain.car.NewCarVo" alias="newCarVo" />
        <typeAlias type="com.rental.geniecar.domain.member.LicenseVo" alias="licenseVo" />
    </typeAliases>
</configuration>